.parent {
    -fx-background-color: #303138;
}
.close-btn {
    -fx-background-color: transparent;
}
.close-btn:hover {
    -fx-background-color: #E81123;
    -fx-cursor: HAND;
}
.expan-btn {
    -fx-background-color: transparent;
}
.expan-btn:hover {
    -fx-background-color: #171717;
    -fx-cursor: HAND;
}
.min-btn {
    -fx-background-color: transparent;
}
.min-btn:hover {
    -fx-background-color: #171717;
    -fx-cursor: HAND;
}
.text-field {
    -fx-background-color: #3B4148;
    -fx-background-radius: 0px;
    -fx-prompt-text-fill: #ADADAD;
    -fx-text-fill: #ffffff;
}
.text-field:focused {
    -fx-background-color: #363b41;
    -fx-background-radius: 0px;
    -fx-prompt-text-fill: #ADADAD;
    -fx-text-fill: #ffffff;
}
.btn-login {
    -fx-background-color: #EA4C88;
    -fx-text-fill: #ffffff;
}
.btn-login:hover {
    -fx-cursor: HAND;
}
.menu-btn {
    -fx-background-color:  #363b41;
}
.menu-btn:hover {
    -fx-background-color: #171717;
    -fx-cursor: HAND;
}